/* universel style code */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: content-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}